* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: #fff;
  color: #A54328;
  font-size: 1.6rem;
}

#page {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 5.4rem 3.8rem;
}

#page img {
  width: 300px;
  margin-bottom: 48px;
}

section h1 {
  margin-bottom: 4.8rem;
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
}

h2,
h3 {
  margin-top: 3.4rem;
}

button {
  margin-top: 1.8rem;
  font-size: 1.6rem;
  border-radius: 6px;
  background: #a54328;
  color: white;
  display: flex;
  width: 100px;
  height: 32px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 0;
}

@media (min-width: 968px) {
  body {
    font-size: 2rem;
  }
  
  #page {
    width: 70%;
    margin: 9.5rem auto;
    flex-direction: row;
    justify-content: space-between;
    gap: 19rem;
  }

  section {
  width: 435px;
}
}


